@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Open+Sans:wght@300&display=swap');

/* Universal style elements applied to all pages */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #3C565B;
    margin: 2%;
    background-color: #fff;
    background: url(../images/patern.jpg);
}

h1,
h2,
h3 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #3b5bdb;
    letter-spacing: 2px;
    margin-bottom: 1%;
}

p {
    margin: 1%;
}

.header {
    display: grid;
    grid-template-columns: 1fr;
    color: #3b5bdb;
}

.main-title {
    font-size: 200%;
    letter-spacing: 5px;
    text-align: center;

}


/* Navigation list */
.menu {

    letter-spacing: 4px;
    text-align: left;
}

.menu li {
    font-size: 100%;
    display: inline-block;
    margin-right: 25px;
}

.menu nav {
    text-decoration: none;
    display: inline-block;
}

a {
    text-decoration: none;
    color: #3b5bdb;
}

.menu a:hover {
    border: 1px solid #3bdb70;

}

.current {
    background-color: #3b5bdb;
    color: #fff;
    padding: 5%;
    border-radius: 8%;
}

.menu,
.main-title {
    line-height: 40px;
}

/* Page 1: Home Page -  main image and cover text (Bible verse)*/

#hero-image {
    height: 600px;
    width: 99%;
    background: url('../images/hero-img.jpg') no-repeat center center;
    background-size: 100%;
    border-radius: 8px;
    margin: 2%;
    overflow: hidden;
    position: relative;
}

.cover-text,
.cover-text h3 {
    clear: both;
    color: #fff;
    float: right;

}

.cover-text {
    font-size: 150%;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    height: 20%;
    background-color: #3b5bdb99;
    bottom: 5%;
    left: 1%;
    position: absolute;
    border-radius: 11%;
    padding: 1%;

}

.cover-text h6 {
    text-align: center;
}

/* Keyframes */

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

.cover-text {
    animation: slide-in 1000ms;
}

/* Home-Page Section 2: Description section */

.description-container {
    margin: 1%;
    height: auto;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 50% 45%;
    column-gap: 2%;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
}

.description-title {
    color: #3b5bdb;
    text-align: left;
    padding-bottom: 0.5%;

}

.description-text {
    font-size: 120%;
    margin-left: 0.5%;
    line-height: 170%;
}

#description-image {
    background: url('../images/description-img.jpg') no-repeat center center;
    height: 500px;
    width: 100%;
    background-size: 100%;
    border-radius: 8px;
}

#description-image2 {
    background: url('../images/description-img2.jpg') no-repeat center center;
    height: 500px;
    width: 100%;
    background-size: 100%;
    border-radius: 18px;

}

/* Links */

.link-form {
    color: inherit;
    text-decoration: underline;

}

.link-form:hover {
    color: #3bdb70;
}



/* Home Page- Section 3: program-section */

#program-container {

    background-color: #00ffff;
    background: url('../images/program-img.jpg') center center;
    overflow: hidden;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 5%;
    justify-content: space-between;
    justify-items: end;
    align-items: center;
    height: 100%;
    width: 100%;
    background-size: 100%;
    padding: 1%;
    background-size: cover;
    background-position: center;
}

#program-container div>h3 {
    padding-top: 16%;
    display: inline-block;
    color: #3b5bdb;
    text-align: center;
    font-size: 125%;
    font-weight: 800;
    border: 2px solid #ffffff;
    letter-spacing: 4px;
    height: 220px;
    width: 100%;
    background-color: #ffffffb8;
}

.center-header {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    text-transform: uppercase;
    letter-spacing: 3px;
}



/* Footer */

footer {
    text-align: center;
    padding-top: 3%;
}

footer h2 {
    background-color: #3b5bdb;
    color: #ffffff;
    display: inline;
    padding: 0.5%;
    border-radius: 11%;
    border: 3px double #0f0f0f;
    font-size: large;
}

.social-links li {
    display: inline;
}

.social-links i {
    color: #3b5bdb;
    font-size: 230%;
    padding: 5%;
    margin: 1%;
}



/* ICONS */
i {
    margin: 2%;
}

.fa-sharp {
    margin: 2%;
}

/* Page 2: Structure of catechetical program */

.structure-container {
    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 3%;
    padding: 2%;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-around;
    gap: 2%;

}

.structure-container img {
    width: 100%;
    border-radius: 2%;
}

.structure-text {
    padding: 2%;
    align-self: center;
    font-size: 120%;
}

#divimg4 {
    background: url(../images/structure-img4.jpeg) no-repeat center center;
    height: 600px;
    grid-column: 1 / -1;
    padding: 10%;
    background-size: 100%;
    background-position: center;
    border-radius: 2%;
}


/* iframe Youtube Example*/

.heading-before-video {
    padding: 2%;
}

.container-youtube-example {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 10px solid #3b5bdbb3;
}

/* Registration Page */

#forms-img {
    height: 650px;
    width: 99%;
    background: url('../images/forms-img.jpg') no-repeat center center;
    background-size: 100%;
    border-radius: 8px;
    margin: 2%;
    overflow: hidden;
    position: relative;

}

.form-section {
    color: #fff;
    background-color: #3b5bdbb3;
    border: 2px solid #fff;
    max-width: 400px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 10%;
    left: 10%;

}

.body-form-page {
    position: relative;
}

.form-section h2 {
    color: #fafafa;
    margin-bottom: 15px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #3bdb70;
}

.join-button {
    background-color: #3b5bdb;
    color: #fafafa;
    margin-top: 20px;
    margin-left: 1%;
    border-radius: 35px;
    padding: 15px 15px;
    text-align: center;
    font-size: 100%;
    /*  inilne-block; */
}

.join-button:hover {
    background-color: #fafafa;
    color: #3b5bdb;
}

.custom-select {
    text-align: center;
}

.custom-select option {
    background-color: #3b5bdb99;
    color: #fafafa;
    margin: 2%;
    font-size: large;
}

#age {
    font-size: 100%;
}


/* Confirmation Page */

.confirmation-message h1,
.confirmation-message h2 {
    text-align: center;
    color: #17006b;
}

.confirmation-message {
    margin: auto;
    padding: 8%;
    border: 2px solid #3b5bdb;
    background-color: #26f1132f;
    border-radius: 2%;
    text-align: center;
}

/* iframe Google-Map */
.map {
    width: 100%;
    height: 250px;
}


/* Media queries  1200 px */

@media screen and (max-width:1200px) {
    .menu {
        font-size: 90%;
        letter-spacing: 1px;
    }

    nav li {
        font-size: 20px;
        display: inline-block;
        margin-right: 10px;
    }

    #hero-image {
        height: 400px;
    }

    .cover-text {
        font-size: 80%;
        height: 15%;
    }

    .cover-text h3,
    .cover-text h5,
    .description-title {
        font-size: 70%;
        margin-top: 8px;
    }

    /* Form sizing 1200 px*/

    .form-section {
        padding: 25px;
        top: 12%;
        left: 8%;
    }

    .form-section h2 {
        font-size: large;
    }

    .join-button {
        font-size: 90%;
    }


    .custom-select option {
        font-size: medium;
    }

    footer h2 {
        font-size: medium;
    }

}


/* Media queries 950 px */

@media screen and (max-width:950px) {

    body {
        margin: 0 1% 0 1%;
    }

    h1,
    h2,
    h3 {
        font-size: 90%;
    }

    #hero-image {
        height: 300px;
        width: 100%;
        background-size: 100%;
        border-radius: 8px;
        margin: 1%;
    }

    .cover-text h3,
    .cover-text h5,
    .description-title {
        font-size: 70%;
        margin-top: 8px;
    }

    .cover-text {
        bottom: 20%;
    }

    .description-container {
        padding-top: 2%;
        padding-bottom: 2%;
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 0.5%;
        align-items: stretch;
    }

    .description-title {
        font-size: 100%;
    }

    .description-text {
        font-size: 100%;
        margin: 2%;
    }

    #description-image2 {
        height: 400px;
        width: 100%;
        background-size: 100%;
        grid-column: 1/2;
        grid-row: 4/5;
    }

    /* Structure page imgs  grid*/

    .img1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .img3 {
        grid-column: 1/2;
        grid-row: 5/6;
    }

    /* Structure page imgs  grid end*/


    footer h2 {
        font-size: small;
    }

    .social-links i {
        font-size: 124%;
        padding: 3%;
    }

    /* Structure- Page- 950 px */

    .structure-container li {
        font-size: 108%;
    }

    .structure-container p {
        font-size: 127%;
    }

    .structure-container img {
        width: 100%;
        border-radius: 2%;
    }

    .structure-container {
        display: grid;
        grid-template-columns: 100%;
        row-gap: 1%;
        padding: 0.5%;
        justify-content: space-between;
        gap: 1%;
    }

    .structure-text {
        padding: 8%;
        font-size: 100%;
    }

    .center-header {
        padding-top: 0%;
        padding-bottom: 1%;
        letter-spacing: 1px;
    }

    #divimg4 {
        height: 300px;
        background-size: 100%;
        overflow: hidden;
    }

    .heading-before-video {
        padding: 4%;
        font-size: 110%;
        overflow: hidden;
    }

    /* Media for forms-page  950 px */
    .menu {

        letter-spacing: 1px;
    }

    .container-registration img {
        background-size: 100%;
        height: 530px;
        width: 100%;
        padding: 1%;
        margin-bottom: 3%;
    }

    #forms-img {
        height: 486px;
        background-size: 153%;
    }

    .form-section {
        max-width: 400px;
        padding: 25px;
        top: 20%;
        left: 6%;
    }

    .form-section h2 {
        margin-bottom: 10px;
        font-size: smaller;
    }

    .text-input {
        height: 10%;
        margin: 5px 0 20px 0;
    }

    .join-button {
        font-size: 60%;
    }

    .custom-select option {
        margin: 2%;
        font-size: medium;
    }

    footer h2 {
        font-size: small;
    }
}

/* Mobile Device Size 400 px */

@media screen and (max-width:400px) {

    body {
        margin: 2%;
        font-size: 90%;
        font-family: sans-serif;
    }

    h1,
    h2,
    h3,
    p {
        font-size: 70%;
    }

    .main-title {
        font-size: 100%;
        line-height: 15px;

    }

    .menu li {
        font-size: 80%;
    }

    #hero-image {
        height: 202px;
        width: 100%;
        background-size: 100%;
        border-radius: 8px;
        margin: 0;
    }

    .cover-text {

        letter-spacing: 4px;
        height: 18%;
        bottom: 18%;

    }

    .cover-text h3,
    .cover-text h5 {
        font-size: 40%;
        text-align: center;
        margin-top: 5px;
    }


    nav li {
        font-size: 13px;
        display: inline-block;
        margin-right: 5px;
    }

    .description-container {
        padding-top: 2%;
        padding-bottom: 2%;
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 0.5%;
        align-items: stretch;
    }

    .description-text {
        margin: 2%;
    }

    .description-text li {
        font-size: 70%;


    }


    .img1 {
        height: fit-content;
        align-self: center;
        margin-top: 2%;
    }

    /* description page  400px*/

    .structure-text {
        font-size: 70%;
        padding: 3%;
    }

    #description-image {
        height: 180px;
        width: 100%;
        background-size: 100%;
    }

    #description-image2 {
        height: 180px;
        width: 100%;
        background-size: 100%;
        grid-column: 1/2;
        grid-row: 4/5;
    }

    #program-container div>h3 {
        padding-top: 23%;
        display: inline-block;
        text-align: center;
        font-size: 52%;
        font-weight: 800;
        border: 2px solid white;
        letter-spacing: 1px;
        height: 104px;
        width: 95%;
    }

    footer h2 {
        font-size: small;
    }

    .social-links i {
        font-size: 124%;
        padding: 3%;
    }

    /* Structure-page - 400 px */

    .structure-container p,
    .structure-container li {
        font-size: 108%;
    }

    .structure-container img {
        width: 100%;
        border-radius: 2%;
    }

    #structure-container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 2%;
        padding: 0.5%;
        justify-content: space-between;
    }

    .img1 {
        grid-column: 1/2;
        grid-row: 1/2;

    }

    .img3 {
        grid-column: 1/2;
        grid-row: 5/6;
    }

    #divimg4 {
        height: 302px;
        width: 100%;
        padding: 3%;
    }

    .heading-before-video {
        margin: 2%;
        font-size: 100%;
    }

    /* Media forms-page  400px */
    .header {
        align-items: center;
        justify-items: center;
    }

    #forms-img {
        height: 486px;
        background-size: 254%;
    }

    .container-registration img {
        background-size: 80%;
        height: 477px;
        margin-bottom: -5%;
    }

    .form-section {
        max-width: 300px;
        padding: 15px;
        top: 12%;
        left: 4%;
    }

    .form-section h2 {
        margin-bottom: 10px;
        font-size: smaller;
    }

    .text-input {
        height: 10%;
        margin: 5px 0 20px 0;
    }

    .join-button {
        font-size: 60%;
    }

    .custom-select option {
        margin: 2%;
        font-size: medium;
    }

    footer h2 {
        font-size: small;
    }
}