@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Oswald:wght@300&family=Roboto+Mono:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;
    color:#495057;
}

testcolors{color:#3b5bdb;
color:#054834;
color:#7E1B1B;
}

/* Header */

h1, h2{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color:#7E1B1B;
    letter-spacing: 3px;
}
#main-image{
    width: 100%;
    height: auto;
}
#main-title{
    font-size: 110%;
}
#menu{
    font-size: 90%;
    letter-spacing: 2px;
}
 

#first-line{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color:#3b5bdb;
    line-height: 60px;
    margin:0 2% 0 2%;
}

nav{
    text-decoration: none;
    display: inline-block;
}
nav li {
   
    font-size: 20px;
    display: inline-block;
    margin-right: 20px;
}

 a {
    text-decoration: none;
    color: #495057;
}

li a:hover{
    text-decoration: underline;
}
.current{
    background-color: #495057;
    color: #fff;
}

/* Using key frames */

@keyframes zoom {
    from {
      transform:
        scale(1);
    }
    to {
      transform:
       
      scale(1.1);
    }
  }

  #main-image {
    animation-name: zoom;
    animation-duration: 2s;
    animation-fill-mode:both;
  }


