@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Oswald:wght@300&family=Roboto+Mono:wght@300&display=swap');

*{

    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;
    color: #292b2c;
    margin: 0 5% 0 5% ;
    background-color: rgba(139, 220, 240, 0.952);
    background:url(../images/patern.jpg)
   
}


/* Section 1: Header, nav , main image and cover text (Bible verse)*/

h1, h2{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #3b5bdb;
    letter-spacing: 3px;
}


#main-title{
    font-size: 110%;
}
#menu{
    font-size: 90%;
    letter-spacing: 2px;
}


#header{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color:#3b5bdb;
    line-height: 60px;
    margin:0 2% 0 2%;
}

nav{
    text-decoration: none;
    display: inline-block;
}
nav li {

    font-size: 20px;
    display: inline-block;
    margin-right: 20px;
}

 a {
    text-decoration: none;
    color: #495057;
}

li a:hover{
    text-decoration: underline;
}
.current{
    background-color: #495057;
    color: #fff;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/httpspravoslavieru.jpg') no-repeat center center;
    background-size: 100%;
    border-radius: 8px;
    margin: 2%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h3{
    clear: both;
    color: #fff;
    float: right;

}

#cover-text{
    font-size: 100%;
    text-transform: uppercase;
    letter-spacing: 4px;
    height: 15%;
    background-color: rgba(59,91,219, .6);
    bottom: 1px;
    left: 1%;
    position: absolute;
    border-radius: 11%;

  }

  #cover-text h6{
    text-align: center;
  }

/* Section 2: Description section */

#description-container {
    padding-top: 2%;
    padding-bottom: 3%;
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: grid;
    grid-template-columns: 50% 45%;
    column-gap: 2%;
    justify-content: space-around;
    align-items: center;
}

#description-title {
    color: #3b5bdb;
    text-align: left;
    padding-bottom: 0.5%;
    font-size: 140%;
    text-align: center;
}

#description-text {
    font-size: 130%;
    margin-left: 0.5%;
    line-height: 170%;   
}

#description-image {
    background: url('../images/1ascoriasi.ro.jpg') no-repeat center center;
    height: 500px;
    width: 100%;
    border-radius: 11%;
    background-size: 130%;
}

/* Links */

.link-form {
    color: inherit;
    text-decoration: underline;

}
.link-form:hover {
    color: red;
}



/* Section 3: program-section */ 

#program-container{

    background-color: aqua;
    background:url('../images/www.discoverdobrogea.ro.jpeg') center center;
    margin: 2%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 5%;
    justify-content: space-between;
    justify-items: end;
    align-items: center;
    height: 100%;
    width: 100%;
    background-size: 100%;
}

#program-header{
    text-align: center;
    padding-top: 1%;
    font-size: 200%;
}

#program-container div>h3 {
    padding-top: 25%;
    display: inline-block;
    color: #ffffff;
    text-align: center;
    font-size: 130%;
    letter-spacing: 4px;
    height: 300px;
    width: 80%;
    background-color: rgba(6, 31, 133, 0.562);
}

/* Footer */

footer {
    text-align: center;
    padding-top: 3%;
    
    
}

footer h2{
    background-color: #3b5bdb;
    color:#ffffff;
    display: inline;
    padding: 0.5%;
    border-radius: 50%;
    border: 3px double rgb(15, 15, 15);
}



#social-links li {
    
    display: inline;
}

#social-links i {
    color: #3b5bdb; 
    font-size: 230%;
    padding: 5%;
    margin:1%;
}


/* ICONS */
i{
    margin: 2%;
}
.fa-sharp{
    margin: 2%;
}




/* Registration Page  */
.form-section{
    background: url(../images/ascoriasi.ro.jpeg) no-repeat center center;
    width: 100%;
    height: 1000px;
    margin: 2%;
    overflow: hidden;
    margin-bottom: 2px;

}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(59,91,219, .6);
    align-self: center;
    max-width: 30%;
    height: auto;
    left: 30%;
    padding: 30px;
    top: 40%;
    left: 30%;
    position: absolute;
  }
  
  .signup-form h2 {
    color: #fafafa;
    margin-bottom: 20px;
  }
  .text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
  }
  
  .text-input:hover {
    border-color: #3b5bdb;
  }
  .join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #3b5bdb;
    color: #fafafa;
    display: block;
  }
  
  .join-button:hover {
    background-color: #fafafa;
    color: #3b5bdb;
  }










  /* Keyframes */

  @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }

  #cover-text {
    animation: slide-in 1000ms;
  }


